<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <table class="table table-light">
        <thead class="thead-light">
            <tr>
                <th>#</th>
                <TH>NOMBRE</th>
                <th>IMAGEN</th>
                <th>ACCIONES</th>
            </tr>
        </thead>
        <tbody>
            <% for( let libro = 0; libro < libros.length; libro++ ) { %>
         
                <tr>            
                    <td> <%=libros[libro].id  %>  </td>
                    <td> <%=libros[libro].nombre  %>  </td>
                    <td> <%=libros[libro].imagen  %> </td>
                    <td> Editar | Borrar </td>
                </tr>

            <% } %>
         
        </tbody>
    </table>
    
</body>
</html>